job "nextcloud" {

  datacenters = ["dc1"]

  group "home-cloud" {

    count = 1

    restart {
      attempts = 3
      delay    = "20s"
      mode     = "delay"
    }

    task "nextcloud-container" {

      driver = "docker"

      config {
        image = "{{ nextcloud.image.name }}:{{ nextcloud.image.tag }}"
        port_map {
          http = "{{ nextcloud.service.ports.http }}"
        }
        volumes = [
          "{{ nextcloud.storage }}:/var/www/html"
        ]
      }

      service {
        name = "{{ nextcloud.service.name }}"
        port = "http"
        tags = ["traefik.enable=true"]
        check {
          type     = "http"
          path     = "/"
          interval = "10s"
          timeout  = "2s"
        }
      }
      
      resources {
        memory = 256
        network {
          port "http" {}
        }
      }

    }

  }

}
