job "radicale" {

  region = "global"
  
  datacenters = ["dc1"]
  
  type = "service"

  group "home-cloud" {

    count = 1

    restart {
      attempts = 3
      delay    = "20s"
      mode     = "delay"
    }

    task "radicale-container" {

      driver = "docker"

      config {
        image = "{{ radicale.image.name }}:{{ radicale.image.tag }}"
        port_map {
          http = "{{ radicale.service.ports.http }}"
        }
        volumes = [
      	  "{{ radicale.storage }}/config:/etc/radicale:ro",
          "{{ radicale.storage }}/data:/var/lib/radicale",
          "{{ radicale.storage }}/logs:/var/log/radicale"
        ]
      }

      env {

      }

      service {
        name = "{{ radicale.service.name }}"
        port = "http"
        check {
          type     = "http"
          path     = "/"
          interval = "10s"
          timeout  = "2s"
        }

      }

      resources {
        network {
          port "http" { }
        }
      }
      
    }

  }

}
