---

# https://www.portainer.io/installation/
# docker run -d -p 9000:9000 -v /var/run/docker.sock:/var/run/docker.sock -v portainer_data:/data portainer/portainer
- name: "Run image {{ portainer.image.name }}:{{ portainer.image.tag }} as service {{ portainer.service.name }}"
  docker_container:
    name: "{{ portainer.service.name }}"
    image: "{{ portainer.image.name }}:{{ portainer.image.tag }}"
    command:
      - --no-auth
    published_ports:
      - "{{ portainer.service.ports.http }}:9000"
    restart_policy: always
    state: started
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - "{{ portainer.storage }}:/data"

- name: "register {{ portainer.service.name }} service with the local consul agent"
  consul:
    service_name: "{{ portainer.service.name }}-{{ item.value }}"
    service_port: "{{ item.value }}"
  with_dict: "{{ portainer.service.ports }}"
  when: service_consul_running
