---

- hosts: hcnp-nodes

  tasks:

    - import_role:
        name: home-assistant
        tasks_from: configure.yml
      tags:
        - home-assistant

    - import_role:
        name: home-assistant
        tasks_from: container.yml
      tags:
        - home-assistant
